.ToDoItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .TodoName {
    width: 90%;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px lightgrey;
    padding: 12px;
    margin-right: 10px;
}
.TodoInput {
  width: 90%;
  background-color: white;
  padding: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.TodoAction {
    width: 35px;
    /*padding: 5px;*/
    height: 35px;
    cursor: pointer;
    background: #c4c2c2;
    border-radius: 10px;
    color: #000;
    font-size: 18px;
    margin-right: 5px;
}
.TodoActionAdd {
  width: 35px;
  /*padding: 5px;*/
  height: 35px;
  cursor: pointer;
  background: #171817;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #cccc;
  color: #fff;
  font-size: 18px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.a{
  text-decoration: line-through
}