.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite ;
  height: 20vmin;
  pointer-events: none;
}



@keyframes App-logo-spin {
  from {
    transform: perspective(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
